@import '@/styles/variables';

.wrapper {
    margin: 0;
    display: flex;
    padding-left: 0;
    list-style-type: none;
    justify-content: flex-start;

    @include media-lg {
        justify-content: flex-end;
    }
}

.socialItem {
    width: 24px;
    height: 24px;
    
    &:not(:last-child) {
        margin-right: 16px;
    }
}