@import '@/styles/variables';

.wrapper {
    padding: 20px 32px;
    color: $color-white;
    background-color: $color-manganese-black;
}

.row {
    display: grid;
    grid-column-gap: 5%;

    &:not(:last-child) {
        grid-template-columns: initial;

        @include media-lg {
            padding-bottom: 20px;
            grid-template-columns: 40% 55%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    &:last-child {
        margin-top: 16px;
        display: flex;
        flex-direction: column-reverse;

        @include media-lg {
            display: grid;
            grid-template-columns: 40% 55%;
        }
    }
}

.logo {
    display: flex;
    justify-content: center;

    @include media-lg {
        display: initial;
    }
}

.column {
    display: grid;
    grid-row-gap: 10px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;

    @include media-lg {
        flex-grow: 1;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
    }

    a:hover {
        opacity: 0.8;
    }

    .column {
        &:last-child {
            grid-column-start: 1;
            grid-column-end: 3;
            margin-top: 30px;

            @include media-lg {
                grid-column-start: initial;
                grid-column-end: initial;
                margin-top: 0;
            }
        }
    }
}

.copyright {
    color: #D9DBE1;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    @include media-lg {
        text-align: left;
        padding-top: 0;
        margin-top: 0;
        border-top: initial;
    }
}

.socials {
    text-align: right;
}