.wrapper {
  position: fixed;
  padding: 10px 15px;
  background: yellow;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  top: 10px;
  left: 10px;
  font-size: 18px;
  transition: 300ms;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  font-size: 14px;
  color: #e53d3d;
  text-decoration: underline;
  &:hover{
    color: #b01818;
  }
}